.loginLinkRegister {
    display: flex;
    position: block;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    margin-bottom: 2.0rem;
    width: 90%;
    max-width: 1280px;
    gap: 1.0rem;
    font-size: 1.65rem;
}

.loginTitle {
    width: 100%;
}

.loginTitle h1 {
    margin: 0;
}

.loginTitle p {
    margin: 0;
    margin-bottom: 2.0rem;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    width: 800px;
    max-width: 1280px;
    padding: 4.0rem;
    margin: auto;
    margin-bottom: 5.0rem;
    background: #ecebeb;
    border-radius: 10px;
    font-size: 1.3rem;
}

.loginFormInput {
    width: 93%;
    font-size: 1.6rem;
    padding: 0.8rem;
    margin-bottom: 1.3rem;
    background-color: #fff;
    border-radius: 1.0rem;
}

.loginFormInput:focus {
    box-shadow: 0 0 5px 2px rgba(136, 0, 0, 0.5);
}

.rememberMeContainer {
    display: flex;
}

.rememberMeContainer label {
    margin-left: 1.0rem;
}

.rememberMeInput {
    width: 1.5rem;
    height: 1.5rem;
    border: 0.2rem solid #ccc;
    background-color: #fff;
    border-radius: 0.5rem;
    outline: none;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.rememberMeInput:checked {
    background-color: #880000;
}

.redirectContainer {
    display: flex;
    align-items: center;
}

.redirectContainer a {
    color: blue;
    text-decoration: underline;
}

.btnSubmit {
    background-color: #880000;
    color: #fff;
    width: 7.0rem;
    height: 3.0rem;
    font-size: 1.3rem;
    border: 0;
    border-radius: 0.5rem;
    margin-right: 1.0rem;
}

.btnSubmit:hover {
    opacity: 50%;
}