.mainHeader {
  width: 100vw;
  max-width: 1280px;
  margin: auto;
}

.navbarContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
}

.navbarContainer input {
  width: 30%;
  max-width: 90%;
  padding: 0.6rem;
  border-radius: 0.5rem;
  line-height: 1.7rem;  
  background-color: #efeded;
  padding-left: 1.4rem;
  font-size: 1.4rem;
}

.navbarContainer input:focus {
  box-shadow: 0 0 5px 2px rgba(136, 0, 0, 0.5);
}

.navbarOptions {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.navbarOption {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-align: center;
  color: #000000;
  gap: 1.4rem;
}

.navbarOption:hover {
  filter: invert(6%) sepia(92%) saturate(6472%) hue-rotate(0deg) brightness(93%)
    contrast(103%);
}

.mobileOptions {
  display: none;
}

.smallMobileMenu {
  display: none;
}

.burger-menu-options {
  display: none;
}

.burger-menu-options-open {
  display: block;
  position: absolute;
  background-color: #ecebeb;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 0.6rem;
}

.small-mobile-menu button {
  border: none;
  background-color: #fff;
}

@media (max-width: 768px) {
  .navbarOptions {
    display: none;
  }

  .navbarOption {
    display: none;
  }

  .mobileOptions {
    display: flex;
    align-items: center;
    color: #000000;
    gap: 2rem;
  }
}

@media (max-width: 425px) {
  .mobileOptions {
    display: none;
  }

  .smallMobileMenu {
    display: block;
    font-size: 1.3rem;
  }
}
