/* .secondaryHeader {
    width: 100vw;
    margin-bottom: 2.0rem;
}

.secondaryNavbar {


} */

.secondaryHeader {
    width: 100%;
    background-color: #ecebeb;
}
  
.secondaryNavbar {
    display: flex;
    max-width: 1280px;
    padding: 1.0rem;
    margin: auto;
  }


.secondaryNavbarItems {
    display: flex;
    gap: 6.0rem;
    font-size: 1.4rem;
    padding-left: 3.0rem;
}

.secondaryNavbarDropdownItem {
    display: flex;
    align-items: center;
}

.secondaryNavbarDropdownItem img {
    margin-left: 1.0rem;
}

.secondaryNavbarDropdownContent {
    display: none;
    position: absolute;
}

.secondaryNavbarDropdownContentShow {
    display: block;
    position: absolute;
}
